.carousel {
    width: 100%;
}

.carousel a {
    width: 100%;
    text-decoration: none;
}

.card {
    /* padding: 10vh 10vw; */
    padding: 40px;
    max-width: 40vw;
    width: 100%;
    max-height: 70vh;
    text-align: center;
    margin: auto;
}

img {
    height: 30vh;
    width: 30vw;
    object-fit: contain;
    /* padding: 10vh 10vw; */
    transition: 0.4s ease;
    display: block;
    margin: auto;
}

img:hover {
    height: 35vh;
    width: 35vw;
    object-fit: contain;
    transition: 0.4s ease;
}

.carousel-price {
    color: var(--purple_color);
    font-family: var(--nunito-font);
    font-size: 2rem;
}

/* .rating {
    width: 100px;
} */