.indprsect {
    height: 700px;
    width: 70%;
    margin: auto;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.igridcont {
    display: grid;
    grid-template-columns: 1fr 2fr !important;
    grid-template-rows: 1fr !important;
}

.secclmn {
    grid-column: 2/2;
    margin-top: 50px;
    margin-left: 20px;
}

.secclmn h3,
.secclmn h6,
.secclmn h5 {
    font-family: var(--primary-color);
    font-weight: 300;
}

.secclmn h5,
.secclmn h4 {
    margin-top: 30px;
}

.mobileprice {
    display: none;
}

.secclmn .ibtn1 {
    width: 350px;
    height: 35px;
    text-align: center !important;
    font-weight: 300;
    transition: 0.7s ease;
    border: 1px solid var(--purple_color);
    background-color: var(--purple_color);
    margin-top: 30px;
    color: white !important;
    display: block;
    transition: 0.4s ease;
}

.secclmn p {
    width: 350px;
    font-size: 12px;
    font-family: var(--nanito-font);
}

.secclmn .ibtn1:hover {
    background-color: white;
    border: 1px solid var(--purple_color);
    color: black !important;
    transition: 0.4s ease;
}

.secclmn .ibtn1:disabled {
    background-color: rgb(15, 1, 37);
}

.secclmn .ibtn1:disabled:hover {
    background-color: rgb(15, 1, 37);
    color: white !important;
    cursor: not-allowed;
}

.btmp {
    grid-column: 1/1 !important;

}

#carouselExample {
    margin-top: 50px;
    width: 450px;
    height: 450px;
    border: 1px solid gray;
    padding: 30px;
    z-index: 0 !important;
    position: relative !important;
}

img {
    height: 400px;
    width: 400px;
    object-fit: contain;
}

.price {
    font-weight: bold !important;
}

.accordion {
    width: 320px;
    margin-top: 30px;
}

@media screen and (max-width:850px) {
    .igridcont {
        grid-template-columns: 1fr !important;
    }

    .indprsect {
        width: 100%;
        height: 1000px;
    }

    .igridcont {
        margin: auto;
        width: 100%;
    }

    #carouselExample {
        width: 350px !important;
        height: 350px !important;
        margin: auto;
    }

    img {
        width: 310px;
        height: 310px;
    }

    .ibtn1,
    .ibtn2,
    #prnumber,
    .secclmn p {
        margin: 10px auto;
    }

    .linkcont {
        justify-content: center;
    }

    .secclmn {
        grid-column: 1/2;
        text-align: center;
    }

    .accordion {
        margin: auto;
        width: 70%;
    }

    .desktopprice {
        display: none;
    }

    .mobileprice {
        display: block;
    }
}

@media screen and (max-width:384px) {
    #carouselExample {
        height: 230px !important;
        width: 230px !important;
        text-align: center;
    }

    .indprsect {
        height: 1200px;
    }

    .btmp {
        width: 90%;
        margin: auto;
    }

    .firstflex a,
    .firstflex span,
    .firstflex {
        font-size: 14px;
    }

    .secondflex {
        display: none;
    }

    .secclmn {
        margin-top: 100px;
        margin-left: 0px;
    }

    .ibtn1,
    .ibtn2,
    .secclmn p {
        width: 80% !important;
    }

    img {
        height: 200px;
        width: 200px;
    }
}

@media screen and (min-height:1500px) {
    .indprsect {
        height: 70vh;
    }

    .product_page {
        margin-top: 300px;
    }
}