<div class="grayback">
  <div class="card">
    <h3 class="card-title mb-2">Log In</h3>
    <form [formGroup]="signIn">
      <label for="email" class="form-label">Email*</label>
      <input type="text" formControlName="email" class="form-control" />
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        formControlName="password"
        class="form-control"
      />
      <button type="submit" class="mt-2">Log in</button>
    </form>
    <span>Dont have an account?</span>
    <span><a href="">Sign Up</a></span>
  </div>
</div>
