<app-header></app-header>

<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
<div
  class="offcanvas offcanvas-end"
  [class.show]="isCartVisible"
  tabindex="-1"
  id="cartOffcanvas"
  aria-labelledby="cartOffcanvasLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="cartOffcanvasLabel">Shopping Cart</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
      (click)="closeCart()"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div>
      @if (cartService.cart$ | async; as cart) {
        @for (product of cart.products; track product.productId) {
          <div class="cart-item">
            <!-- <img [src]="product" alt="Product Image" class="product-image" /> -->
            <app-product-cart
              [Product]="product.productId | product | async"
            ></app-product-cart>
            <div class="product-details">
              <!-- <h6>{{ product.productId }}</h6>
              <p>Price: {{ product.pricePerQuantity }}</p> -->
              <p>
                Quantity:
                <button
                  class="btn btn-danger"
                  (click)="
                    updateQuantity(product.productId, product.quantity - 1)
                  "
                >
                  -
                </button>
                {{ product.quantity }}
                <button
                  class="btn btn-success"
                  (click)="
                    updateQuantity(product.productId, product.quantity + 1)
                  "
                >
                  +
                </button>
              </p>
              <button
                class="btn btn-danger"
                (click)="removeItemFromCart(product.productId)"
              >
                Remove
              </button>
            </div>
          </div>
        }
        <div class="cart-total">
          <p>Total Quantity: {{ cart.total.quantity }}</p>
          <p>Total Price: {{ cart.total.price.current }}</p>
        </div>
        <button class="btn btn-danger" (click)="clearCart()">Clear Cart</button>
        <button class="btn btn-success ms-3" (click)="checkout()">
          Checkout
        </button>
      }
    </div>
  </div>
</div>
