<div class="top">
  <h1>Get In Touch</h1>
</div>
<div class="line"></div>
<div class="gridbox">
  <div class="column">
    <div>
      <h3>Opening Hours</h3>
      <p>
        Mon - Fri: 8am - 8pm <br />
        Saturday: 9am - 7pm <br />
        Sunday: 9am - 8pm
      </p>
    </div>
    <div>
      <h3>Store Location</h3>
      <p>
        500 Terry Francine Street <br />
        San Francisco, CA 94158 <br />
        info&#64;mysite.com <br />
        123-456-7890
      </p>
    </div>
  </div>
  <div class="column2">
    <h3>We're here to help!</h3>
    <p>
      Fill out the form with any query on your mind and we'll <br />
      get back to you as soon as possible
    </p>
    <form action="https://api.everrest.educata.dev/echo/html" method="post">
      <div class="row1">
        <div class="flexbox">
          <label for="firstname">First Name</label>
          <input type="text" />
        </div>
        <div class="flexbox">
          <label for="lastname">Last Name</label>
          <input type="text" />
        </div>
      </div>
      <div class="row2">
        <div class="flexbox">
          <label for="firstname">Email *</label>
          <input type="text" />
        </div>
        <div class="flexbox">
          <label for="lastname">Subject</label>
          <input type="text" />
        </div>
      </div>
      <div class="row3">
        <div class="flexbox">
          <label for="message">Message</label>
          <input type="text" name="message" id="" />
        </div>
      </div>
      <div class="row4">
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
<app-help-centre-article></app-help-centre-article>
