.line {
    border-bottom: 1px solid var(--background_color);
    width: 85%;
    margin: auto;
}

.top {
    text-align: center;
}

.top h1 {
    font-size: 4rem;
}

.column div,
.column2 h3,
.column2 p {
    margin-left: 5rem;
}

.gridbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr !important;
    row-gap: 30px;
    width: 400px;
    margin-left: 5rem;
    margin-bottom: 30px;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

.row1,
.row2,
.row3,
.row4 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 50px;
}

.row3 .flexbox {
    width: 100%;
}

.row3 input {
    width: 90%;
}

.row4 button {
    text-decoration: none;
    color: white;
    border-radius: 40px;
    /* font-size: 15x; */
    background-color: var(--purple_color);
    padding: 10px 40px;
    margin-top: 15px !important;
    transition: 0.4s ease;
    border: 1px solid var(--purple_color);
}

.row4 button:hover {
    background-color: white;
    border: 1px solid var(--purple_color);
    transition: 0.4s ease;
    color: black;
}

.flexbox input {
    border: 0;
    border-bottom: 1px solid var(--background_color);
}

.flexbox input:active,
.flexbox input:hover,
.flexbox input:focus {
    border: 0px !important;
    border-bottom: 1px solid gray !important;
    outline: none;
}

@media screen and (min-width:1440px) {

    .column div,
    .column2 h3 {
        margin-top: 100px;
    }

    /* .gridbox {
        height: 800px;
    } */
}

@media screen and (min-height:1960px) {
    .gridbox {
        height: 1400px;
    }

}

@media screen and (max-width:850px) {
    .gridbox {
        grid-template-columns: 1fr;
    }

    .column div,
    .column2 h3,
    .column2 p {
        text-align: center;
        margin-left: 0 !important;
    }

    form {
        margin: auto auto 30px auto;
    }

}

@media screen and (max-width:410px) {
    form {
        width: 100% !important
    }

    .row1,
    .row2,
    .row3,
    .row4 {
        justify-content: center;
        width: 80%;
        margin: auto;
    }

    .row1 input,
    .row2 input {
        width: 100px !important;

    }

    .flexbox {
        width: 150px;
    }

    .row3 .flexbox {
        width: 80% !important;
    }

}

@media screen and (max-width:320px) {
    .flexbox {
        width: 100px;
    }

}