<div class="top">
  <h1>About TechShed</h1>
</div>
<div class="line"></div>
<div class="gridbox_about">
  <div class="row">
    <div class="col">
      <img src="../../../assets/Photos/About/about.webp" alt="Store photo" />
    </div>
    <div class="col second_gridbox">
      <p>
        I'm a paragraph. Click here to add your own text and edit me. It’s easy.
        Just click “Edit Text” or double click me to add your own content and
        make changes to the font. Feel free to drag and drop me anywhere you
        like on your page. I’m a great place for you to tell a story and let
        your users know a little more about you.
      </p>
      <p>
        This is a great space to write a long text about your company and your
        services. You can use this space to go into a little more detail about
        your company. Talk about your team and what services you provide. Tell
        your visitors the story of how you came up with the idea for your
        business and what makes you different from your competitors. Make your
        company stand out and show your visitors who you are.
      </p>
    </div>
  </div>
</div>
<div class="line"></div>
<div class="careers">
  <div class="top">
    <h2>Careers</h2>
    <p>Check out our job postings & opportunities waiting for you</p>
  </div>
  <div class="form">
    <div class="row1">
      <div class="flexbox">
        <label for="firstname">First Name</label>
        <input type="text" />
      </div>
      <div class="flexbox">
        <label for="lastname">Last Name</label>
        <input type="text" />
      </div>
    </div>
    <div class="row2">
      <div class="flexbox">
        <label for="firstname">Email *</label>
        <input type="text" />
      </div>
      <div class="flexbox">
        <label for="lastname">Phone</label>
        <input type="text" />
      </div>
    </div>
    <div class="row3">
      <div class="flexbox">
        <label for="firstname">Position You Apply for </label>
        <select class="form-select" aria-label="Default select example">
          <option selected>Select Position</option>
          <option value="1">In-Store Sales</option>
          <option value="2">Store Leadership</option>
          <option value="3">In-store Operations</option>
          <option value="3">Warehouse & Logistics</option>
          <option value="3">eCommerce</option>
        </select>
      </div>
      <div class="flexbox">
        <label for="lastname">Available Start Date *</label>
        <input type="text" placeholder="DD/MM/YYYY" />
      </div>
    </div>
    <div class="row4">
      <div class="flexbox">
        <label for="lastname">Link to Resume</label>
        <input type="text" placeholder="Enter URL" />
      </div>
      <button type="submit">Submit</button>
    </div>
  </div>
</div>
<app-help-centre-article></app-help-centre-article>
