.greyback {
    background-color: var(--background_color);
}

.firstsect {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 100vh !important;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    font-family: var(--nunito_font);
}

.firstsect h5 {
    background-color: rgb(215, 45, 45);
    width: fit-content;
    color: white;

}

.firstsect_textbox {
    margin-left: 250px;
    padding-top: 100px;
}

.firstsect_textbox a,
.fourthsect a,
.sixthsect a,
.seventhsect a {
    text-decoration: none;
    color: white;
    border-radius: 40px;
    /* font-size: 15x; */
    background-color: var(--purple_color);
    padding: 10px 40px;
    margin-top: 15px !important;
    transition: 0.4s ease;
    border: 1px solid var(--purple_color);
}

.firstsect_textbox a:hover,
.fourthsect a:hover,
.sixthsect a:hover,
.seventhsect a:hover {
    background-color: white;
    border: 1px solid var(--purple_color);
    transition: 0.4s ease;
    color: black;
}

.grid_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 90%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.first_grid_box {
    background-image: url(https://static.wixstatic.com/media/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg/v1/fill/w_958,h_468,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/c22c23_e140bfa8cd6f4cb2ac5ee6e204f64073~mv2.jpg);
    background-size: cover;
    background-position: center;
    height: 460px;
    width: 100%;
    margin: auto;
}

.first_grid_box h6,
.first_grid_box h5,
.first_grid_box h2,
.second_grid_box h6,
.second_grid_box h5,
.second_grid_box h2 {
    color: white;
    font-family: var(--nunito_font);
    margin-left: 50px;
}

.first_grid_box h6,
.second_grid_box h6 {
    margin-top: 100px;
    font-weight: 300;
    font-size: 25px;
}

.first_grid_box h5,
.second_grid_box h5 {
    margin-bottom: 30px;
}

.first_grid_box a,
.second_grid_box a {
    margin-left: 50px;
    text-decoration: none;
    color: black;
    border-radius: 40px;
    /* font-size: 15x; */
    background-color: white;
    padding: 10px 40px;
    margin-top: 15px !important;
    transition: 0.4s ease;
}

.first_grid_box a:hover,
.second_grid_box a:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    transition: 0.4s ease;
}

.first_grid_box h2,
.second_grid_box h2 {
    font-size: xx-large;
}

.second_grid_box {
    background-image: url(https://static.wixstatic.com/media/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.jpg/v1/fill/w_958,h_468,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/c837a6_d84a631864a442a496670bc2d787c6a0~mv2.jpg);
    height: 460px;
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: auto;
}

/* .thirdsect {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 150px;
    background-color: white;
    margin: auto;
} */
.grid_box2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    height: 150px;
    background-color: white;
    margin: auto;
}

.grid_box2 div {
    margin: auto;
}

.thirdsect {
    padding-bottom: 60px;
}

.thirdsect span {
    color: black;
}

.main_svgs {
    height: 36px;
    width: 30px;
    margin-right: 3px;
}

.fourthsect {
    /* height: 100vh; */
    width: 90%;
    margin: auto;
    padding-bottom: 60px;
}

.fourthsect h2 {
    margin: auto;
    width: fit-content !important;
    padding-top: 40px;
}

.fourthsect .box {
    background-color: white;
    height: 90%;
    width: 100%;

}

.carousel {
    height: 80% !important;
}

/* .carousel-inner {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    height: 100%;

} */
/* .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden !important;
    position: relative !important;
    z-index: 0;

} */

/* .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100%;

    flex: 0 0 100%;

} */

/* .card {
    flex: 0 0 auto;

} */
.carousel-item {
    /* margin-top: 10px; */
    /* max-height: 80% !important; */
    margin-top: 30px;
    /* margin-bottom: 80px !important; */
}

/* .fourthsect a {
    margin: auto;
} */

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    padding-bottom: 30px;

}

.fifthsect {
    height: 750px;
    /* background-color: white; */
    padding-bottom: 60px !important;
    /* margin-bottom: 60px !important; */
    width: 90%;
    margin: auto;
}

.fifthsect h2 {
    margin: auto;
    width: fit-content;
    padding-top: 40px
}

.white_box {
    background-color: white;
    height: 100%;
}

.grid_box3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
    align-items: center;
}



.grid_circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    text-align: center;
    margin-top: 30px;
    /* height: 200px;
    width: 300px; */
}

.grid_box3 a {
    text-decoration: none;
    color: black;
}

.circle img {
    /* width: 150px;
    height: 150px; */
    width: 10rem;
    height: 10rem;
    border: 1px solid var(--background_color);
    border-radius: 50%;
    transition: 0.4s ease;
}

.circle img:hover {
    /* 960 pixelze fuchdeba */

    width: 9rem;
    height: 9rem;
    transition: 0.4s ease;
}

.sixthsect,
.seventhsect {
    width: 90%;
    height: 500px;
    padding-bottom: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.main_photo {
    background-image: url(https://static.wixstatic.com/media/c837a6_42dd66a436e846648736f4bc9546bf14~mv2.png/v1/fill/w_2480,h_600,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c837a6_42dd66a436e846648736f4bc9546bf14~mv2.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.side_text,
.side_text2 {
    background-color: white;
    padding-top: 5vh;
    padding-left: 4vw;
}

.side_text h2 {
    font-size: 4rem;
    font-family: var(--primary_font) !important;
}

.side_text h3,
.side_text2 h3 {
    font-weight: 400;
}

.side_text p,
.side_text2 p {
    font-weight: 500;
}

.seventhsect {
    grid-template-columns: 1fr 2fr !important;
}

.main_photo2 {
    background-image: url(https://static.wixstatic.com/media/c837a6_ecf32c7284d4430582fcc90f60a1b4e6~mv2.png/v1/fill/w_2548,h_600,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/c837a6_ecf32c7284d4430582fcc90f60a1b4e6~mv2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    background-position: right;
}

.side_text2 h5 {
    background-color: rgb(215, 45, 45);
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 0.1vw;
    font-size: 1.5rem;
}

.side_text2 h2 {
    font-size: 5rem;
}

.eighthsect {
    padding-bottom: 60px;
    width: 90%;
    margin: auto;
}

.purple_back {
    background-color: var(--purple_color);
    height: 240px;
}

.head_text {
    display: flex;
    height: 30%;
    justify-content: center;
    align-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: auto;
    padding-top: 20px;
}

.head_text h2,
.head_text h5 {
    color: white;
}

.input_box {
    width: 100%;
    margin-top: 20px;
}

.input_box h6 {
    color: white;
}

#email_main {
    width: 25rem !important;
    height: 3rem;
    /* padding-left: 20px; */
    border-radius: 25px;
    border: 1px solid var(--purple_color);
    /* margin: auto !important; */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#main_email::placeholder {
    padding-left: 20px;
    color: black;
}

.input_box button {
    border-radius: 25px;
    height: 3rem;
    background-color: black;
    border: 1px solid black;
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: 0.4s ease;
    /* margin-top: 30px !important; */
}

.input_box button:hover {
    color: black;
    background-color: rgb(191, 158, 244);
    border: 1px solid rgb(191, 158, 244);
    transition: 0.4s ease;
}

.ninethsection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    padding-bottom: 60px;
    width: 100%;
    margin: auto;
}

.main_photo3 {
    background-image: url(https://static.wixstatic.com/media/c22c23_de5cbbefa9104fc1a1604ea146ea523a~mv2.jpg/v1/fill/w_1185,h_445,al_t,q_85,usm_0.66_1.00_0.01,enc_auto/c22c23_de5cbbefa9104fc1a1604ea146ea523a~mv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}

.side_text3 {
    background-color: black;
}

.side_text3 a {
    text-decoration: none;
    color: var(--purple_color);
    border-radius: 40px;
    /* font-size: 15x; */
    background-color: white;
    padding: 10px 40px;
    margin-top: 15px !important;
    transition: 0.4s ease;
}

.side_text3 a:hover {
    background-color: var(--purple_color);
    color: white;
    transition: 0.4 ease;
}

.side_text3 {
    padding-top: 20vh;
    padding-left: 5vw;
}

.side_text3 h2,
.side_text3 p {
    color: white;

}

.firstsect_mobile {
    display: none;
}

.firstsect_mobile img {
    width: 100%;
    object-fit: contain;
    height: 300px;
    margin-top: 30px;
}

@media screen and (max-width:1180px) {
    .firstsect_textbox {
        margin-left: 50px;
    }

    .firstsect,
    .main_photo2 {
        background-position: 80%;
    }

    .main_photo {
        background-position: 10%;
    }

    .grid_box2 div {
        text-align: center;
    }

    .main_svgs {
        height: 25px;
        width: 18px;
    }

}

@media screen and (max-width:980px) {
    .circle img {
        width: 7rem;
        height: 7rem;
    }
}

@media screen and (max-width:850px) {
    .grid_box3 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
    }

    .grid_circle {
        margin: auto;
    }

    .circle img {
        width: 150px;
        height: 150px;
    }

    .fifthsect {
        height: fit-content;
    }

    .grid_box {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .first_grid_box h6,
    .first_grid_box h5,
    .first_grid_box h2,
    .second_grid_box h6,
    .second_grid_box h5,
    .second_grid_box h2,
    .first_grid_box a,
    .second_grid_box a {
        margin-left: 10px;
    }

    .side_text h2,
    .side_text2 h2 {
        font-size: 30px;
    }

    .side_text h3,
    .side_text2 h3 {
        font-size: 17px;
    }

    .side_text,
    .side_text2 {
        padding-left: 2vw;
        padding-top: 1vh;
    }

    .grid_box2 {
        grid-template-columns: 1fr 1fr;
    }

    .side_text p,
    .side_text2 p,
    .side_text2 h5,
    .side_text2 h4 {
        font-size: 15px;
    }

    .sixthsect,
    .seventhsect {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr !important;
    }

    .purple_back {
        height: 300px;
    }

    .input_box {
        margin-top: 40px;
    }

    #email_main {
        width: 70% !important;
    }
}

@media screen and (max-width:400px) {
    .circle img {
        width: 100px;
        height: 100px;
    }

    .seventhsect,
    .sixthsect {
        height: 550px;
    }

    .grid_circle h4 {
        font-size: 13px;
    }

    .firstsect {
        display: none;
    }

    .firstsect_mobile {
        display: block;
    }

    .firstsect_textbox h5 {
        margin: auto;
        background-color: rgb(215, 45, 45);
        width: fit-content;
        color: white;
    }

    .firstsect_textbox {
        margin: auto;
        text-align: center;
        padding-top: 5px;
    }

}