<div class="top"><h1>EZshop Helpcentre</h1></div>
<div class="faqs">
  <h2>Frequently asked questions</h2>
  <h3>General</h3>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          What is an FAQ section?
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="accordion_text">
            An FAQ section can be used to quickly answer common questions about
            your business like "Where do you ship to?", "What are your opening
            hours?", or "How can I book a service?".
          </div>
          <app-faq-icons></app-faq-icons>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          Why do FAQs matter?
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="accordion_text">
            FAQs are a great way to help site visitors find quick answers to
            common questions about your business and create a better navigation
            experience.
          </div>
          <app-faq-icons></app-faq-icons>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree"
          aria-expanded="false"
          aria-controls="collapseThree"
        >
          Where can I add my FAQs?
        </button>
      </h2>
      <div
        id="collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="accordion_text">
            FAQs can be added to any page on your site or to your Wix mobile
            app, giving access to members on the go.
          </div>
          <app-faq-icons></app-faq-icons>
        </div>
      </div>
    </div>
  </div>
  <h3>Setting up FAQs</h3>
  <div class="accordion" id="accordionExample2">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne1"
          aria-expanded="true"
          aria-controls="collapseOne1"
        >
          How do I add a new question & answer?
        </button>
      </h2>
      <div
        id="collapseOne1"
        class="accordion-collapse collapse show"
        data-bs-parent="#accordionExample2"
      >
        <div class="accordion-body">
          <div class="accordion_text">
            To add a new FAQ follow these steps: <br />
            1. Manage FAQs from your site dashboard or in the Editor <br />2.
            Add a new question & answer <br />3. Assign your FAQ to a category
            <br />
            4. Save and publish. <br />
            You can always come back and edit your FAQs.
          </div>
          <app-faq-icons></app-faq-icons>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo2"
          aria-expanded="false"
          aria-controls="collapseTwo2"
        >
          Can I insert an image, video, or GIF in my FAQ?
        </button>
      </h2>
      <div
        id="collapseTwo2"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample2"
      >
        <div class="accordion-body">
          <div class="accordion_text">
            Yes. To add media follow these steps: <br />
            1. Manage FAQs from your site dashboard or in the Editor <br />
            2. Create a new FAQ or edit an existing one <br />
            3. From the answer text box click on the video, image or GIF icon
            <br />
            4. Add media from your library and save.
          </div>
          <app-faq-icons></app-faq-icons>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseThree3"
          aria-expanded="false"
          aria-controls="collapseThree3"
        >
          How do I edit or remove the 'Frequently Asked Questions' title?
        </button>
      </h2>
      <div
        id="collapseThree3"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample2"
      >
        <div class="accordion-body">
          <div class="accordion_text">
            You can edit the title from the FAQ 'Settings' tab in the Editor.
            <br />
            To remove the title from your mobile app go to the 'Site & App' tab
            in your Owner's app and customize.
          </div>
          <app-faq-icons></app-faq-icons>
        </div>
      </div>
    </div>
  </div>
</div>
<app-help-centre-article></app-help-centre-article>
