section {
    width: 100%;
    height: 300px;

}

form {
    width: 100%;
    max-width: 500px;
    margin: auto;
    border: 1px solid var(--background_color);
    padding: 15px;
    margin-top: 140px !important;
}

button {
    margin-top: 15px
}